.header{
  position: fixed;
  top: -10px;
  left: -10px;
  width: 100%;
  background-color: #fff;
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  display: flex;
  align-items: center;
  justify-content: space-between;
};
@media screen and (max-width: 767px) {
  .header {
    top: 0; /* Align properly for smaller screens */
    padding: 10px; /* Add some padding for better spacing */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center-align content */
  }
}
