.list-collection{
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 800px;
  height: 70vh;
  overflow: scroll;
  scrollbar-color: pink;
}
.list-collection .row{
  display: flex;
  justify-content: start;
  align-items: center;  
  gap: 50px;
  border-bottom: solid 1px #ccc;
  margin: 0;  
}
.loader{
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0;
}
.coll {
  width: 250px;
  margin: 0;
}
.no-products {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin: 20px 0;
  font-weight: 500;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
